@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', 'system-ui', 'Avenir', 'Helvetica', 'Arial', sans-serif;
  min-height: 100vh;
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

img,
video,
svg {
  height: auto;
  max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

.logo {
  @apply text-3xl font-bold
}

.btn {
  @apply bg-black-overlay text-primary px-[1rem] py-[0.5rem] rounded-[0.4rem] font-medium cursor-pointer hover:bg-black-overlay-hover hover:text-black-overlay
}

.link {
  @apply text-primary-link hover:text-primary-link-hover
}

.divider {
  @apply w-full h-[2px] bg-divider my-8
}